name: Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: ./gradlew assemble

    - name: Artifact Debug
      uses: actions/upload-artifact@v6
      with:
        name: debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk
        if-no-files-found: error

    - name: Artifact Release Unsigned
      uses: actions/upload-artifact@v6
      with:
        name: release-apk-unsigned
        path: app/build/outputs/apk/release/app-release-unsigned.apk
        if-no-files-found: error
